body {
    background-color: #161a1d;
    background-image: url("images/fondo\ 2.png");
}

.titulo {
    color: #d3d3d3;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo {
    color: #d3d3d3;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.texto1 {
    color: #d3d3d3;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    
}

.texto2 {
    color: #d3d3d3;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
}

.subtitulo {
    color: #d3d3d3;
    text-align: center;
}
.subtitulo {
    color: #d3d3d3;
    text-align: center;
}

.a {
    border-radius: 20px;
    width: 200px;
    margin: 4%;
    padding: 2%;
}

.b {
    border-radius: 20px;
    width: 200px;
    margin: 4%;
    padding: 2%;
}

.c {
    border-radius: 20px;
    width: 200px;
    margin: 4%;
    padding: 2%;
}

.d {
    border-radius: 20px;
    width: 200px;
    margin: 4%;
    padding: 2%;
}

.e {

    border-radius: 50px;
    width: 450px;
    height: 370px;
    margin: 05%;
    padding: 0%;

}


.cabeza {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20PX;
}

.contenedor {
    display: grid;
    flex-direction: row;
    align-items: center;

}

#base {
    flex-grow: 1;
    flex-basis: 200;
    background-color: #a4161a;
    width: 500px;
    height: 700px;
    margin-bottom: 50px;


}

#base2 {
    flex-grow: 1;
    flex-basis: 200;
    background-color: #a4161a;
    width: 500px;
    height: 700px;
    margin-bottom: 50px;


}

#base3 {
    flex-grow: 1;
    flex-basis: 200;
    background-color: #a4161a;
    width: 500px;
    height: 700px;
    margin-bottom: 50px;


}